<% provide(:title, 'Вход') %>
<h1>Восстановление пароля</h1>
<%= form_for(:user, url: recovery_path,  html: {class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <%= f.submit "Запросить", class: "btn btn-default" %>
<% end %>
