<% provide(:title, 'Справка') %>
<h1>Справка</h1>
<p>Отслеживание операций обработки отправлений (Почты России, EMS, SPSR USPS, FedEx, TNT, DHL) по почтовому идентификатору.
</p>
<p>Внутрироссийский почтовый идентификатор находится в чеке, выдаваемом при приеме почтового отправления. Вид номера: 115127(80)15138 4. Следует вводить:
Почтовый идентификатор: 11512780151384 (14-символов без скобок и пробелов).
</p>
<p>В случае отслеживания международного почтового отправления и EMS-отправления необходимо вводить 4 буквы и 9 цифр. Буквы вводятся обязательно ЗАГЛАВНЫЕ и в латинском алфавите.
Пример: YF123456789RU (весь номер без пробелов).
</p>

