<% provide(:title, '') %>
<h1>Новое отправление для отслеживания</h1>
<%= render 'pages/add' %>

<h1>Отслеживаемые отправления</h1>
<% unless @parcels.nil? %>
    <%= render @parcels %>
  <%= will_paginate @parcels, params: {controller: 'pages', action: 'home'} %>
<% else %>
  <p>Пользователь еще не добавил ни одной посылки для отслеживания</p>
<% end %>
