@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

footer {
  margin-top: 45px;
  border-top: 1px solid #eaeaea;
}

.field_with_errors {
  @extend .has-error;
  display: inline;
}

.flat-input{
  background:rgba(0,0,0,0);
  border: none;
  /*border: 1px solid #eaeaea;*/
  &:hover,&:focus{
    background:rgb(255,255,255);
  }
}

h1 {
  border-bottom: 1px solid #EEE;
}

#loading-indicator {
  display:none;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  /*z-index:1000*/
 }

.alert-danger:before, .panel-danger .panel-heading .panel-title:before {
  font-family: "Glyphicons Halflings";
  content: " ";
}

.alert-info:before{
  font-family: "Glyphicons Halflings";
  content: " ";
}

.alert-success:before{
  font-family: "Glyphicons Halflings";
  content: " ";
}

.alert-warning:before{
  font-family: "Glyphicons Halflings";
  content: " ";
}
