<header class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to 'Посылки <span class="badge">0</span></a>'.html_safe, root_path %></li>
        </ul>
        <ul class="nav pull-right">
          <li><%= link_to "Вход", '#' %></li>
          <li><%= link_to "Регистрация", '#' %></li>
          <li><%= link_to "Справка", about_path %></li>        </ul>
      </nav>
    </div>
  </div>
</header>
